# Symfony
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/

# PHPUnit
.phpunit
.phpunit.result.cache
/phpunit.xml

# Vue
node_modules/

# IDEs
.idea/

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db

# NPM
package-lock.json

# Composer
composer.lock

# Miscellaneous
*.swp
*.swo
